{% load jira_filters %}


<thead>
<tr>
    <th>User</th>
    <th>Purpose</th>
    <th>Start</th>
    <th>End</th>
    <th>Installer</th>
    <th>Scenario</th>
</tr>
</thead>
<tbody>
{% for booking in bookings %}
    <tr>
        <td>
            {{ booking.user.username }}
        </td>
        <td>
            {{ booking.purpose }}
        </td>
        <td>
            {{ booking.start }}
        </td>
        <td>
            {{ booking.end }}
        </td>
        <td>
            {{ booking.installer }}
        </td>
        <td>
            {{ booking.scenario }}
        </td>
    </tr>
{% endfor %}
</tbody>