---
nodes:
  {%- for node in conf.nodes %}
  node{{ loop.index }}:
    mac_address: "{{ node.remote_management.mac_address }}"
    ipmi_ip: {{ node.remote_management.address }}
    ipmi_user: {{ node.remote_management.user }}
    ipmi_pass: {{ node.remote_management.pass }}
    pm_type: "pxe_{{ node.remote_management.type }}tool"
    cpus: {{ node.node.cpus }}
    memory: {{ node.node.memory }}
    disk: 40
    disk_device: sdb
    arch: "{{ node.node.arch }}"
    capabilities: "profile:control"
  {%- endfor %}
