{% extends "dashboard/table.html" %}
{% load staticfiles %}

{% block table %}
    <thead>
    <tr>
        <th>Name</th>
        <th>Slave Name</th>
        <th>Booked by</th>
        <th>Booked until</th>
        <th>Purpose</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for pod in dev_pods %}
        <tr>
            <th>
                <a target='_blank' href={{ pod.url }}>{{ pod.name }}</a>
            </th>
            <th>
                <a target='_blank' href={{ pod.slaveurl }}>{{ pod.slavename }}</a>
            </th>
            <th>
                {{ pod.current_booking.user }}
            </th>
            <th>
                {{ pod.current_booking.end_date_time }}
            </th>
            <th>
                {{ pod.current_booking.purpose }}
            </th>
            <th style="background-color:{{ pod.status_color }}">
                {{ pod.status }}
            </th>
            <th>
                <a href='{% url 'dashboard:booking_calendar' %}{{ pod.resource_id }}' class="btn btn-primary">
                    Book
                </a>
            </th>
        </tr>
    {% endfor %}
    </tbody>
{% endblock table %}

{% block tablejs %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable({
                columnDefs: [
                    {type: 'status', targets: 5}
                ],
                "order": [[5, "asc"]]
            });
        });
    </script>
{% endblock tablejs %}