{% load bootstrap3 %}


{% bootstrap_form_errors form type='non_fields' %}
<form method="post" action="" class="form" id="bookingform">
    {% csrf_token %}

    <div class='input-group' id='starttimepicker'>
        {% bootstrap_field form.start addon_after='<span class="glyphicon glyphicon-calendar"></span>' %}
    </div>
    <div class='input-group' id='endtimepicker'>
        {% bootstrap_field form.end addon_after='<span class="glyphicon glyphicon-calendar"></span>' %}
    </div>
    {% bootstrap_field form.purpose %}

    {% buttons %}
        <button type="submit" class="btn btn btn-success">
            Book
        </button>
    {% endbuttons %}
</form>