{% extends "dashboard/table.html" %}
{% load staticfiles %}

{% block table %}
    <thead>
    <tr>
        <th>Username</th>
        <th>Company</th>
        <th>SSH Key</th>
        <th>GPG Key</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>
                {{ user.username }}
            </td>
            <td>
                {{ user.userprofile.company }}
            </td>
            <td>
		{% if user.userprofile.ssh_public_key %}
                <a href={{ user.userprofile.ssh_public_key.url }}>SSH</a>
		{% endif %}
            </td>
            <td>
		{% if user.userprofile.pgp_public_key %}
                <a href={{ user.userprofile.pgp_public_key.url }}>GPG</a>
		{% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock table %}


{% block tablejs %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable({
                "order": [[0, "asc"]]
            });
        });
    </script>
{% endblock tablejs %}
