<?xml version="1.0" ?>
<network>
	

    <name>{{net_name}}</name>
	<forward mode="nat"/>
    <bridge delay="5" name="{{br_name}}" stp="on"/>
    <ip address="{{ip_addr}}" netmask="{{netmask}}"/>
</network>
