##############################################################################
# Copyright (c) 2018 Mirantis Inc., Enea AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
{%- set net = conf.idf.net_config %}
{%- set net_admin = [net.admin.network, net.admin.mask] | join("/")  %}
{%- set net_mgmt = [net.mgmt.network, net.mgmt.mask] | join("/")  %}
{%- set net_private = [net.private.network, net.private.mask] | join("/")  %}
{%- set net_public =  [net.public.network, net.public.mask] | join("/")  %}

{%- set vlan_mgmt = net.mgmt.vlan %}
{%- set vlan_private = net.private.vlan %}
{%- set pxe_interface = net.admin.interface %}

{%- if net.public.dns is defined %}
    {%- set dns_public = net.public.dns %}
{%- else %}
    {%- set dns_public = [ '8.8.8.8', '8.8.4.4' ] %}
{%- endif %}

{%- if net.public.gateway is defined %}
    {%- set net_public_gw = net.public.gateway %}
{%- endif %}
{%- if conf.idf.fuel.network.public_pool is defined %}
    {%- set net_public_pool_start = conf.idf.fuel.network.public_pool.start_ip %}
    {%- set net_public_pool_end = conf.idf.fuel.network.public_pool.end_ip %}
{%- endif %}
{%- if conf.idf.fuel.network.ip_offset is defined %}
    {%- set ip_start_offset = conf.idf.fuel.newtwork.ip_offset  %}
{%- else %}
    {%- set ip_start_offset = 2 %}
{%- endif %}

{%- if conf.idf.fuel.maas is defined %}
    {%- set maas_timeout_comissioning = conf.idf.fuel.maas.timeout_comissioning %}
    {%- set maas_timeout_deploying = conf.idf.fuel.maas.timeout_deploying %}
{%- else %}
    {%- set maas_timeout_comissioning = 10 %}
    {%- set maas_timeout_deploying = 15 %}
{%- endif %}

{%- if conf.idf.fuel.compute is defined %}
    {%- set cmp_nodes = conf.idf.fuel.compute_nodes  %}
{%- else %}
    {%- set cmp_nodes = 3 %}
{%- endif %}

---
parameters:
  _param:

    opnfv_maas_timeout_comissioning: {{ maas_timeout_comissioning }}
    opnfv_maas_timeout_deploying: {{ maas_timeout_deploying }}

    opnfv_jump_bridge_admin: {{ conf.idf.fuel.jumphost.bridges.admin }}
    opnfv_jump_bridge_mgmt: {{ conf. idf.fuel.jumphost.bridges.mgmt }}
    opnfv_jump_bridge_private: {{ conf.idf.fuel.jumphost.bridges.private }}
    opnfv_jump_bridge_public: {{ conf.idf.fuel.jumphost.bridges.public }}

{%- set cfg_start = ip_start_offset %}
    opnfv_infra_config_address: {{ net_mgmt | ipnet_hostaddr(cfg_start) }}
    opnfv_infra_config_pxe_address: {{ net_admin | ipnet_hostaddr(cfg_start) }}

{%- set maas_start = cfg_start +1 %}
    opnfv_infra_maas_node01_address: {{ net_mgmt | ipnet_hostaddr(maas_start) }}
    opnfv_infra_maas_node01_deploy_address: {{ net_admin | ipnet_hostaddr(maas_start) }}
    opnfv_infra_maas_pxe_network_address: {{ net.admin.network }}
    opnfv_infra_maas_pxe_start_address: {{ net_admin | ipnet_hostaddr(maas_start +1) }}
    opnfv_infra_maas_pxe_end_address: {{ net_admin | ipnet_hostmax }}

{%- set prx_start = maas_start +2 %}
    opnfv_openstack_proxy_control_address: {{ net_mgmt | ipnet_hostaddr(prx_start) }}
    opnfv_openstack_proxy_node01_control_address: {{ net_mgmt | ipnet_hostaddr(prx_start +1) }}
    opnfv_openstack_proxy_node02_control_address: {{ net_mgmt | ipnet_hostaddr(prx_start +2) }}
    opnfv_openstack_proxy_address: {{ net_public | ipnet_hostaddr(prx_start) }}
    opnfv_openstack_proxy_node01_address: {{ net_public | ipnet_hostaddr(prx_start +1) }}
    opnfv_openstack_proxy_node02_address: {{ net_public | ipnet_hostaddr(prx_start +2) }}

{%- set gtw_start = prx_start +3 %}
    opnfv_openstack_gateway_node01_address: {{ net_mgmt | ipnet_hostaddr(gtw_start) }}
    opnfv_openstack_gateway_node02_address: {{ net_mgmt | ipnet_hostaddr(gtw_start +1) }}
    opnfv_openstack_gateway_node03_address: {{ net_mgmt | ipnet_hostaddr(gtw_start +2) }}
    opnfv_openstack_gateway_node01_tenant_address: {{ net_private | ipnet_hostaddr(gtw_start) }}
    opnfv_openstack_gateway_node02_tenant_address: {{ net_private | ipnet_hostaddr(gtw_start +1) }}
    opnfv_openstack_gateway_node03_tenant_address: {{ net_private | ipnet_hostaddr(gtw_start +2) }}
    opnfv_openstack_gateway_node01_external_address: {{ net_public | ipnet_hostaddr(gtw_start) }}
    opnfv_openstack_gateway_node02_external_address: {{ net_public | ipnet_hostaddr(gtw_start +1) }}
    opnfv_openstack_gateway_node03_external_address: {{ net_public | ipnet_hostaddr(gtw_start +2) }}

{%- set ctl_start = gtw_start +3 %}
    opnfv_openstack_control_address: {{ net_mgmt | ipnet_hostaddr(ctl_start) }}
    opnfv_openstack_control_node01_address: {{ net_mgmt | ipnet_hostaddr(ctl_start +1) }}
    opnfv_openstack_control_node02_address: {{ net_mgmt | ipnet_hostaddr(ctl_start +2) }}
    opnfv_openstack_control_node03_address: {{ net_mgmt | ipnet_hostaddr(ctl_start +3) }}
    opnfv_openstack_control_node01_external_address: {{ net_public | ipnet_hostaddr(ctl_start +1) }}
    opnfv_openstack_control_node02_external_address: {{ net_public | ipnet_hostaddr(ctl_start +2) }}
    opnfv_openstack_control_node03_external_address: {{ net_public | ipnet_hostaddr(ctl_start +3) }}

{%- set cmp_start = ctl_start +4 %}
{%- for cmp in range(1, cmp_nodes +1) %}
  {%- set n = '%02d' | format(cmp) %}
  {%- set cmp_ip = loop.index0 + cmp_start %}
    opnfv_openstack_compute_node{{n}}_single_address: {{ net_mgmt | ipnet_hostaddr(cmp_ip) }}
    opnfv_openstack_compute_node{{n}}_control_address: {{ net_mgmt | ipnet_hostaddr(cmp_ip) }}
    opnfv_openstack_compute_node{{n}}_tenant_address: {{ net_private | ipnet_hostaddr(cmp_ip) }}
    opnfv_openstack_compute_node{{n}}_external_address: {{ net_public | ipnet_hostaddr(cmp_ip) }}
{%- endfor %}

{%- set net_public_last_free_ip = cmp_start + cmp_nodes %}

{%- set kvm_start = cmp_start + cmp_nodes %}
    opnfv_infra_kvm_address: {{ net_mgmt | ipnet_hostaddr(kvm_start) }}
    opnfv_infra_kvm_node01_address: {{ net_mgmt | ipnet_hostaddr(kvm_start +1) }}
    opnfv_infra_kvm_node02_address: {{ net_mgmt | ipnet_hostaddr(kvm_start +2) }}
    opnfv_infra_kvm_node03_address: {{ net_mgmt | ipnet_hostaddr(kvm_start +3) }}

{%- set dbs_start = kvm_start + 4 %}
    opnfv_openstack_database_address: {{ net_mgmt | ipnet_hostaddr(dbs_start) }}
    opnfv_openstack_database_node01_address: {{ net_mgmt | ipnet_hostaddr(dbs_start +1) }}
    opnfv_openstack_database_node02_address: {{ net_mgmt | ipnet_hostaddr(dbs_start +2) }}
    opnfv_openstack_database_node03_address: {{ net_mgmt | ipnet_hostaddr(dbs_start +3) }}

{%- set msg_start = dbs_start + 4 %}
    opnfv_openstack_message_queue_address: {{ net_mgmt | ipnet_hostaddr(msg_start) }}
    opnfv_openstack_message_queue_node01_address: {{ net_mgmt | ipnet_hostaddr(msg_start +1) }}
    opnfv_openstack_message_queue_node02_address: {{ net_mgmt | ipnet_hostaddr(msg_start +2) }}
    opnfv_openstack_message_queue_node03_address: {{ net_mgmt | ipnet_hostaddr(msg_start +3) }}

{%- set mdb_start = msg_start + 4 %}
    opnfv_openstack_telemetry_address: {{ net_mgmt | ipnet_hostaddr(mdb_start) }}
    opnfv_openstack_telemetry_node01_address: {{ net_mgmt | ipnet_hostaddr(mdb_start +1) }}
    opnfv_openstack_telemetry_node02_address: {{ net_mgmt | ipnet_hostaddr(mdb_start +2) }}
    opnfv_openstack_telemetry_node03_address: {{ net_mgmt | ipnet_hostaddr(mdb_start +3) }}

{%- set odl_start = mdb_start + 4 %}
    opnfv_opendaylight_server_node01_single_address: {{ net_mgmt | ipnet_hostaddr(odl_start) }}

{%- set mon_start = odl_start + 1 %}
    opnfv_stacklight_monitor_address: {{ net_mgmt | ipnet_hostaddr(mon_start) }}
    opnfv_stacklight_monitor_node01_address: {{ net_mgmt | ipnet_hostaddr(mon_start +1) }}
    opnfv_stacklight_monitor_node02_address: {{ net_mgmt | ipnet_hostaddr(mon_start +2) }}
    opnfv_stacklight_monitor_node03_address: {{ net_mgmt | ipnet_hostaddr(mon_start +3) }}

{%- set log_start = mon_start + 4 %}
    opnfv_stacklight_log_address: {{ net_mgmt | ipnet_hostaddr(log_start) }}
    opnfv_stacklight_log_node01_address: {{ net_mgmt | ipnet_hostaddr(log_start +1) }}
    opnfv_stacklight_log_node02_address: {{ net_mgmt | ipnet_hostaddr(log_start +2) }}
    opnfv_stacklight_log_node03_address: {{ net_mgmt | ipnet_hostaddr(log_start +3) }}

{%- set mtr_start = log_start + 4 %}
    opnfv_stacklight_telemetry_address: {{ net_mgmt | ipnet_hostaddr(mtr_start) }}
    opnfv_stacklight_telemetry_node01_address: {{ net_mgmt | ipnet_hostaddr(mtr_start +1) }}
    opnfv_stacklight_telemetry_node02_address: {{ net_mgmt | ipnet_hostaddr(mtr_start +2) }}
    opnfv_stacklight_telemetry_node03_address: {{ net_mgmt | ipnet_hostaddr(mtr_start +3) }}


{%- if net_public_pool_start is not defined or net_public_pool_end is not defined %}
    {%- set net_public_pool_start = net_public | ipnet_hostaddr(net_public_last_free_ip) %}
    {%- set net_public_pool_end = net_public | ipnet_hostmax -1 %}
{%- endif %}
    opnfv_net_public_pool_start: {{ net_public_pool_start }}
    opnfv_net_public_pool_end: {{ net_public_pool_end }}

    opnfv_net_public: {{ net_public }}
    opnfv_net_public_mask: {{ net_public | ipnet_netmask }}
    opnfv_net_public_gw: {{ net_public_gw }}
    opnfv_net_public_pool_start: {{ net_public_pool_start }}
    opnfv_net_public_pool_end: {{ net_public_pool_end }}
    opnfv_name_servers: {{ dns_public }}
    opnfv_dns_server01: '{{ dns_public[0] }}'

    opnfv_net_mgmt_vlan: {{ vlan_mgmt }}
    opnfv_net_tenant_vlan: {{ vlan_private }}

{%- for node in conf.nodes %}
  {%- set n = '%02d' | format(loop.index) %}
    opnfv_maas_node{{n}}_architecture: '{{ node.node.arch | dpkg_arch }}/generic'
    opnfv_maas_node{{n}}_power_address: {{ node.remote_management.address.rsplit('/')[0] }}
    opnfv_maas_node{{n}}_power_type: {{ node.remote_management.type }}
    opnfv_maas_node{{n}}_power_user: {{ node.remote_management.user }}
    opnfv_maas_node{{n}}_power_password: {{ node.remote_management.pass }}
    opnfv_maas_node{{n}}_interface_mac: '{{ node.interfaces[pxe_interface].mac_address }}'
{%- endfor %}
