celery==3.1.23
cryptography==1.4
Django==1.10
django-bootstrap3==7.0.1
django-crispy-forms==1.6.0
django-filter==0.14.0
django-registration==2.1.2
djangorestframework==3.4.6
gunicorn==19.6.0
jira==1.0.7
oauth2==1.9.0.post1
oauthlib==1.1.2
pika==0.10.0
psycopg2==2.6.2
PyJWT==1.4.2
requests==2.11.0
