{% extends "dashboard/table.html" %}
{% load staticfiles %}

{% block table %}
    <thead>
    <tr>
        <th>Name</th>
        <th>Slave Name</th>
        <th>Status</th>
        <th>Installer</th>
        <th>Scenario</th>
        <th>Branch</th>
        <th>Job</th>
    </tr>
    </thead>
    <tbody>
    {% for pod in ci_pods %}
        <tr>
            <th>
                <a target='_blank' href={{ pod.url }}>{{ pod.name }}</a>
            </th>
            <th>
                <a target='_blank' href={{ pod.slaveurl }}>{{ pod.slavename }}</a>
            </th>
            <th style="background-color:{{ pod.status_color }}">
                {{ pod.status }}
            </th>
            <th {{ pod.last_job.blink }}>
                {{ pod.last_job.installer }}
            </th>
            <th {{ pod.last_job.blink }}>
                {{ pod.last_job.scenario }}
            </th>
            <th {{ pod.last_job.blink }}>
                {{ pod.last_job.branch }}
            </th>
            <th><a {{ pod.last_job.blink }} style="color:{{ pod.last_job.color }}"
                                            target='_blank'
                                            href={{ pod.last_job.url }}>{{ pod.last_job.name }}</a>
            </th>
        </tr>
    {% endfor %}`
    </tbody>
{% endblock table %}


{% block tablejs %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable({
                columnDefs: [
                    {type: 'status', targets: 2}
                ],
                "order": [[2, "asc"]]
            });
        });
    </script>
{% endblock tablejs %}