{% extends "dashboard/table.html" %}
{% load staticfiles %}
{% load jenkins_filters %}

{% block table %}
    <thead>
    <tr>
        <th>Name</th>
        <th>Slave Name</th>
        <th>Status</th>
        <th>Installer</th>
        <th>Scenario</th>
        <th>Branch</th>
        <th>Job</th>
    </tr>
    </thead>
    <tbody>
    {% for pod in ci_pods %}
        <tr>
            <th>
                <a target='_blank' href={{ pod.url }}>{{ pod.name }}</a>
            </th>
            <th>
                <a target='_blank' href={{ pod.slave.url }}>{{ pod.slave.name }}</a>
            </th>
            <th style="background-color:{{ pod.slave.status | jenkins_status_color }}">
                {{ pod.slave.status }}
            </th>
            <th {{ pod.slave.last_job_result | jenkins_job_blink }}>
                {{ pod.slave.last_job_installer }}
            </th>
            <th {{ pod.slave.last_job_result | jenkins_job_blink }}>
                {{ pod.slave.last_job_scenario }}
            </th>
            <th {{ pod.slave.last_job_result | jenkins_job_blink }}>
                {{ pod.slave.last_job_branch }}
            </th>
            <th><a {{ pod.slave.last_job_result | jenkins_job_blink }}
                    style="color:{{ pod.slave.last_job_result | jenkins_job_color }}"
                    target='_blank'
                    href={{ pod.slave.last_job_url }}>{{ pod.slave.last_job_name }}</a>
            </th>
        </tr>
    {% endfor %}
    </tbody>
{% endblock table %}


{% block tablejs %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable({
                columnDefs: [
                    {type: 'status', targets: 2}
                ],
                "order": [[2, "asc"]]
            });
        });
    </script>
{% endblock tablejs %}