{% extends "dashboard/table.html" %}
{% load staticfiles %}
{% load jenkins_filters %}

{% block table %}
    <thead>
    <tr>
        <th>Name</th>
        <th>Slave Name</th>
        <th>Booked by</th>
        <th>Booked until</th>
        <th>Purpose</th>
        <th>Utilization</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for pod, booking, utilization in dev_pods %}
        <tr>
            <th>
                <a href={% url 'dashboard:resource' resource_id=pod.id %}>{{ pod.name }}</a>
            </th>
            <th>
                <a target='_blank' href={{ pod.slave.url }}>{{ pod.slave.name }}</a>
            </th>
            <th>
                {{ booking.user.username }}
            </th>
            <th>
                {{ booking.end }}
            </th>
            <th>
                {{ booking.purpose }}
            </th>
            <th>
                {{ utilization }}
            </th>
            <th style="background-color:{{ pod.slave.status | jenkins_status_color }}">
                {{ pod.slave.status }}
            </th>
            <th>
                <a href="{% url 'booking:create' resource_id=pod.id %}" class="btn btn-primary">
                    Book
                </a>
            </th>
            <th>
                <a href="{% url 'dashboard:resource' resource_id=pod.id %}" class="btn btn-primary">
                    Info
                </a>
            </th>
        </tr>
    {% endfor %}
    </tbody>
{% endblock table %}

{% block tablejs %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable({
                columnDefs: [
                    {type: 'status', targets: 6}
                ],
                "order": [[6, "asc"]]
            });
        });
    </script>
{% endblock tablejs %}