{% extends "base.html" %}
{% load staticfiles %}

{% block extrahead %}
    <!-- Morris Charts CSS -->
    <link href="{% static "bower_components/morrisjs/morris.css" %}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="{% static "bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" %}"
          rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{% static "bower_components/datatables-responsive/css/dataTables.responsive.css" %}"
          rel="stylesheet">
{% endblock extrahead %}


{% block content %}
    {% for resource, utilization, bookings in pods %}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ resource.name }}
                    </div>
                    <div class="panel-body">
                        {% include "dashboard/resource_detail.html" %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}


{% block extrajs %}
    <!-- DataTables JavaScript -->
    <link href="{% static "bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" %}"
          rel="stylesheet">

    <script src={% static "bower_components/datatables/media/js/jquery.dataTables.min.js" %}></script>
    <script src={% static "bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" %}></script>



    <!-- Flot Charts JavaScript -->
    <script src="{% static "bower_components/flot/excanvas.min.js" %}"></script>
    <script src="{% static "bower_components/flot/jquery.flot.js" %}"></script>
    <script src="{% static "bower_components/flot/jquery.flot.pie.js" %}"></script>
    <script src="{% static "bower_components/flot/jquery.flot.resize.js" %}"></script>
    <script src="{% static "bower_components/flot/jquery.flot.time.js" %}"></script>
    <script src="{% static "bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js" %}"></script>
    <script src="{% static "js/flot-pie-chart.js" %}"></script><

    <script type="text/javascript">
        $(document).ready(function () {
            {% for resource, utilization, bookings in pods %}

                $('#{{ resource.id }}_server_table').DataTable({});
                $('#{{ resource.id }}_bookings_table').DataTable({});
                $('#{{ resource.id }}_vpn_user_table').DataTable({});

                var chart_id = "{{ resource.id }}_booking_utilization";
                var utilization_url = "{% url 'dashboard:booking_utilization' resource_id=resource.id weeks=4 %}";
                loadChartData(chart_id, utilization_url);

                var chart_id = "{{ resource.id }}_jenkins_utilization";
                var utilization_url = "{% url 'dashboard:jenkins_utilization' resource_id=resource.id weeks=1 %}";
                loadChartData(chart_id, utilization_url);
            {% endfor %}
        });
    </script>
{% endblock extrajs %}