# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Django:
*.log
*.pot
migrations/
settings.py

# KDE:
.directory

# Pycharm:
.idea/

# Virtualenv:
venv/

# Vim:
*.swp

# Bower Components:
bower_components/
