# SECURITY WARNING: don't run with debug turned on in production!
DEBUG=False

DB_NAME=sample_name
DB_USER=sample_user
DB_PASS=sample_pass
DB_SERVICE=postgres
DB_PORT=5432

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY=http://www.miniwebtool.com/django-secret-key-generator/

OAUTH_CONSUMER_KEY=sample_key
OAUTH_CONSUMER_SECRET=sample_secret

JIRA_URL=sample_url
JIRA_USER_NAME=sample_jira_user
JIRA_USER_PASSWORD=sample_jira_pass

# Rabbitmq
RABBITMQ_USER=opnfv
RABBITMQ_PASSWORD=opnfvopnfv
